<form>
  <section class="input-group col-md-5">
    {{input type="text" class="form-control" placeholder="Enter a stock symbol e.g. AAPl" value=symbol}}
  </section>
  <br/>
  <section class="input-group col-md-5">
    {{input type="text" class="form-control" placeholder="Enter a stock alert price e.g. 90" value=price}}
  </section>
  <br/>
  <section class="input-group">
    <button type="submit" class="btn" {{action "addAlert"}}>Add Alert</button>
  </section>
</form>
