<section id="main">
  <section class="row">
    <section class="col-md-2"></section>
    <section class="col-md-4">
      <h2>Alert me for the fire sale!</h2>
    </section>
  </section>
  <section class="row">
    <section class="col-md-2"></section>
    <section class="col-md-4">
      <br/>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Company Symbol</th>
            <th>Alert Price</th>
          </tr>
        </thead>
        <tbody>
          {{#each alert in model}}
            <tr>
              <td>{{alert.symbol}}</td>
              <td>{{alert.price}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <br/>
    </section>
    <section class="col-md-6">
      <br/>
      <br/>
      <br/>
      {{#link-to 'alerts.new'}}Add Alert{{/link-to}}
      {{outlet}}
    </section>
  </section>
</section>
